/**
 * @desc  : styling sheet for components found within Home.js
 */

.wrapper {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 15vh;
    height: 100%;
}

.section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    width:100%;

    /* For text formatting. */
    align-items: center;
    justify-content: center;
    color: black;
}

.section-one {
    @include section;
    margin-top: 5rem;
    height: 80vh;
    grid-column-start: 1;
}

.section-two {
    @include section;
    height: 100vh;
    background-color: black;
    color: white;
    grid-column-start: 1;
}

.text {
    grid-column-start:2;
}


.image-one {
    background: url('./../../assets/images/home-section-2.jpeg');
    background-repeat: no-repeat;
}