.wrapper {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 15vh 40vh 5vh 5vh 5vh 5vh 5vh 5vh 15vh;
}

.section-one {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 80vh;
    width:100%;

    /* For text formatting. */
    //display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    margin-top: 5rem;
    grid-column-start: 1;
}

.text {
    grid-column-start:4;
}

.section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;

    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

/* The styling for the static div. */
.static {
  background: white;
}

.image-one {
    background: url('./../../assets/images/home-section-2.jpeg');
    background-repeat: no-repeat;
    width: 40vh;
}