/* foundational scss */
@import './style/foundational.scss';

/* component scss */
@import './style/home/home.scss';
@import './style/home/section-one.scss';
@import './style/header/header.scss';

/* animation */
@import './style/animations/fadein.scss';
@import './style/animations/parallax.scss';


/* Tiny reset thingy */
body {
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

